<app-header></app-header>

<p class="error-msg" *ngIf="responseError$ | async">
  {{ (responseError$ | async)?.message }}
</p>

<div class="coords-inputs" *ngIf="responseError$ | async">
  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input matInput type="number" [formControl]="latitudeControl" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input matInput type="number" [formControl]="longitudeControl" />
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="setCoords()">Send</button>
</div>

<mat-spinner *ngIf="loading$ | async"></mat-spinner>

<app-weather-card [weatherData$]="parsedData$"></app-weather-card>
