@import "app-theme.scss";

a {
  cursor: pointer;
}

.error-msg {
  color: red;
}

.coords-inputs {
  mat-form-field {
    margin-right: 4px;
  }
}

.content-wrapper {
  position: relative;
  min-height: 100px;

  .spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .isLoading {
    opacity: 0.3;
  }
}
